$colorWhite: #fff;
$colorGreen: #789629;
$colorGray: #e6e6e6;
$colorBlack: #000;
$listSale: "../../images/plane.png", "../../images/gift.png", "../../images/star.png";
$listProduct: "../../images/image9.jpg", "../../images/image10.jpg", "../../images/image11.jpg", "../../images/image12.jpg", "../../images/image13.jpg", "../../images/image14.jpg";
$listBlog: "../../images/image11.png", "../../images/image12.png", "../../images/image13.png", "../../images/image14.png", "../../images/image15.png", "../../images/image16.png", "../../images/image17.png", "../../images/image18.png";

// mixin
@mixin customFontFace($fontFamily, $src) {
  @font-face {
    font-family: $fontFamily;
    src: url($src);
  }
}

@mixin customPosition($position, $top, $left, $z, $width, $height, $result) {
  position: $position;
  top: $top;
  left: $left;
  z-index: $z;
  @if $result == true {
    width: $width;
    height: $height;
  }
}

@mixin customBackground($url, $w, $h) {
  background: url($url) no-repeat;
  width: $w;
  height: $h;
}

@mixin customFont($size, $family) {
  font: {
    size: $size;
    family: $family;
  }
}

@mixin customProduct($image1, $image2, $color, $result) {
  .product__image {
    @include customBackground($image1,49.5%, 315px);
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
  }
  .product__name {
    @include customBackground($image2,49.5%, 315px);
    position: relative;
    background-position: center;
    background-size: cover;
    &__arrow {
      @include customPosition(absolute, 50%, -14px, 2, 30px, 30px, true);
      background-color: $color;
      transform: rotate(45deg);
      margin-top: -15px;
      @if $result == true {
        right: -14px;
        left: auto;
      }
    }
  }
}

// placeholder
@mixin customContactTitle {
  width: 32%;
  overflow: hidden;
  &__title {
    @include customFont(16px, "openSansBold");
    position: relative;
    text-align: center;
    margin-bottom: 65px;
  }
  &__title:after {
    @include customBackground("../../images/icon4.png", 370px, 10px);
    @include customPosition(absolute, 40px, 50%, 2, 295px, 8px, false);
    content: "";
    margin-left: -185px;
  }
}

@mixin customTag($color) {
  span {
    @include customFont(12px, "openSans");
    display: inline-block;
    padding: 6px 8px;
    margin: 5px 8px 5px 0;
    transition: 0.5s;
    border: 1px solid #e8e8e8;
  }
  span:hover {
    background: $color;
    color: $colorWhite;
    transition: 0.5s;
  }
}

// placeholder
@mixin responsiveHeader {
  .container {
    width: 56%;
  }
  header {
    .container {
      nav {
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        label {
          display: block;
          width: 30px;
          height: 30px;
          cursor: pointer;
          position: absolute;
          right: 15px;
          top: 25px;
          background: $colorBlack;
        }
        label::after {
          content: '';
          display: block;
          width: 20px;
          height: 2px;
          background: $colorWhite;
          margin: 9px 5px;
          box-shadow: 0px 5px 0px $colorWhite, 0px 10px 0px $colorWhite;
        }
      
        #menu:checked ~ ul {
          @include customPosition(relative, 85px, auto, 999, 130px, auto, true);
          display: block;
        }
        ul {
          display: none;
          flex-direction: column;
          li {
            color: $colorGray;
            padding: 20px;
            background-color: $colorWhite;
            i {
              display: none;
            }
          }
          li:hover .nav__dropdown__content,li:hover .nav__dropdown__icon {
            display: none;
          }
        }
        
      }
      .header__right {
        &__cart {
          margin-top: 34px;
          padding: 0 25px 34px 0;
        }
        .dropdown:hover .dropdown__content,.dropdown:hover .dropdown__icon {
          display: none;
        }
        &__search {
          margin: 34px 68px 0 0;
          padding: 0 0 34px 0;
        }
      }
    }
  }
}

@mixin responsiveFooter {
  footer {
    .layout {
      .row {
        flex-direction: column;
        .contact {
          width: 100%;
          border-bottom: 1px solid #464646;
        }
        .list {
          width: 100%;
          border-bottom: 1px solid #464646;
          margin-top: 33px;
        }
      }
    }
    .footer__bottom {
      p {
        margin-top: 25px;
      }
      &__pay {
        margin-top: 20px;
        width: 240px;
        float: none;
      }
    }
  }
}

@mixin responsiveProductInformation {
  section.information {
    .content {
      width: 100%;
      &__nav {
        h1 {
          @include customFont(10px, "openSansBold");
        }
      }
      &__detail {
        p {
          @include customFont(10px, "openSans");
        }
        h2 {
          margin-top: 40px;
        }
      }
      &__detail:nth-child(2), &__detail:nth-child(4) {
        flex-wrap: wrap-reverse;
      }
      &__detail:nth-child(3), &__detail:nth-child(5) {
        flex-direction: column;
        flex-wrap: wrap-reverse;
      }
    }
    .sidebar {
      display: none;
    }
  }
}

@mixin responsiveProductThread {
  section.thread {
    flex-wrap: wrap;
    .sidebar {
      width: 20%;
      margin-top: 0;
    }
    .image {
      width: 78%;
      height: 306px;
      background-size: contain;
      margin-top: 5px;
    }
    .product {
      width: 100%;
      margin-top: 40px;
      h1 {
        font-size: 18px;
      }
      select {
        width: 90%;
      }
      &__footer {
        flex-direction: column;
        margin-top: 25px;
        &__icon {
          width: 370px;
          margin-top: 25px;
        }
      }
    }
  }
}

@mixin responsiveGrid {
  section.main {
    margin-top: 40px;
    flex-direction: column;
    sidebar {
      width: 100%;
      .image {
        display: none;
      }
    }
    .content {
      width: 100%;
      .products {
        .product {
          width: 45%;
          margin: 60px 0;
          &__image {
            background-size: contain;
          }
          &__action {
            display: none;
          }
        }
        .product:nth-child(5), .product:nth-child(6) {
          display: none;
        }
        .product:hover .product__action {
          opacity: 0;
        }
        .product:hover .product__detail i:nth-child(4) {
          display: none;
        }
      }
    }
  }
}

@mixin responsiveList {
  section.main {
    .content {
      .header {
        margin-top: 50px;
      }
      .listProducts {
        .product {
          flex-direction: column;
          &__image {
            width: 100%;
          }
          &__detail {
            width: 100%;
            h1 {
              @include customFont(16px, "openSans");
              margin-top: 40px;
            }
            &__description {
              display: inline;
            }
          }
        }
      }
    }
  }
}