$colorWhite: #fff;
$colorGreen: #789629;
$colorGray: #e6e6e6;
$colorBlack: #000;
$listSale: "../../images/plane.png", "../../images/gift.png", "../../images/star.png";
$listProduct: "../../images/image9.jpg", "../../images/image10.jpg", "../../images/image11.jpg", "../../images/image12.jpg", "../../images/image13.jpg", "../../images/image14.jpg";
$listBlog: "../../images/image11.png", "../../images/image12.png", "../../images/image13.png", "../../images/image14.png", "../../images/image15.png", "../../images/image16.png", "../../images/image17.png", "../../images/image18.png";
$numberThree: 3;
$numberFive: 5;