@import '../mixins';

section.main {
  .content {
    .listProducts {
      margin-top: 45px;
      .product {
        margin-bottom: 54px;
        display: flex;
        justify-content: space-between;
        &__image {
          @include customBackground("../../images/image12.jpg", 270px, 300px);
          background-position: center;
          border-bottom: 1px dashed $colorGray;
        }
        &__detail {
          h1 {
            @include customFont(18px, "openSans");
            padding-bottom: 15px;
          }
          &__icon {
            @include customFont(16px, "openSansLight");
            i{
              margin: 0 3px 22px 0;
            }
            p {
              display: inline;
            }
          }
          &__description {
            @include customFont(14px, "openSans");
            color: #adadad;
          }
          h2 {
            @include customFont(24px, "lobster");
            margin: 25px 0;
          }
        }
        &__action {
          span {
            @include customFont(14px, "openSansBold");
            padding: 10px;
            border: 1px solid #b4b4b4;
            border-radius: 10px;
            transition: 0.5s;
          }
          span:hover {
            background: $colorGreen;
            color: $colorWhite;
            transition: 0.5s;
          }
          i {
            font-size: 14px;
            padding: 12px;
            border: 1px solid #b4b4b4;
            border-radius: 10px;
            transition: 0.5s;
            margin-left: 10px;
          }
          i:hover {
            background: $colorGreen;
            color: $colorWhite;
            transition: 0.5s;
          }
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  
  section.main {
    .content {
      .listProducts {
        .product {
          flex-direction: column;
          &__image {
            width: 100%;
          }
          &__detail {
            width: 100%;
            h1 {
              @include customFont(16px, "openSans");
              margin-top: 40px;
            }
            &__description {
              display: inline;
            }
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {  }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width