@import "../mixins";

section.thread {
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  .sidebar {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    width: 6%;
    &__top {
      @include customImageTwo("../../images/icon9.png", 100%, 20px);
    }
    &__image {
      @include customImageTwo("../../images/image18.jpg", 100%, 70px);
    }
    @for $i from 3 to 6 {
      $item: nth($listImage, $i - 2);
      &__image:nth-child(#{$i}) {
        @include customImageTwo($item, 100%, 70px);
      }
    }
    &__bottom {
      @include customImageTwo("../../images/icon10.png", 100%, 20px);
    }
  }
  .image {
    @include customImageTwo("../../images/image17.jpg", 46%, 570px);
    border: 1px solid #b4b4b4;
  }
  .product {
    width: 44%;
    h1 {
      @include customFont(21px, "openSans");
      color: #595959;
      text-transform: uppercase;
      margin-bottom: 14px;
    }
    p {
      @include customFont(12px, "openSans");
      text-transform: uppercase;
      color: #737373;
      margin-bottom: 22px;
    }
    h2 {
      @include customFont(22px, "lobster");
      display: inline-block;
      margin: 0 5px 30px 0;
    }
    h4 {
      @include customFont(14px, "lobster");
      display: inline-block;
      color: #cdcdcd;
    }
    &__description {
      text-transform: none !important;
    }
    label {
      @include customFont(14px, "openSans");
      display: block;
      margin-bottom: 15px;
    }
    select {
      margin-bottom: 22px;
      width: 99%;
      padding: 10px;
      border: 1px solid #e7e7e7;
    }
    h3 {
      @include customFont(14px, "openSans");
      margin-bottom: 20px;
    }
    &__action {
      span {
        @include customFont(14px, "openSansBold");
        padding: 10px;
        border: 1px solid #b4b4b4;
        border-radius: 10px;
        transition: 0.5s;
      }
      span:hover {
        background: $colorGreen;
        color: $colorWhite;
        transition: 0.5s;
      }
      i {
        font-size: 14px;
        padding: 12px;
        border: 1px solid #b4b4b4;
        border-radius: 10px;
        transition: 0.5s;
        margin-left: 10px;
      }
      i:hover {
        background: $colorGreen;
        color: $colorWhite;
        transition: 0.5s;
      }
    }
    &__footer {
      display: flex;
      margin-top: 17px;
      p {
        display: inline-block;
        text-transform: none;
        margin-bottom: 0;
        padding-top: 7px;
        b {
          color: #c72527;
        }
      }
      &__icon {
        @include customBackground("../../images/image9.png", 395px, 30px);
        background-position: center;
      }
    }
  }
}