section.login.container 
  .login__header 
    h1 Đăng nhập 
    span Đăng ký 
  form.form
    h2 Khách hàng đăng ký 
    p Nếu bạn có một tài khoản xin vui lòng đăng nhập 
    .form__input 
      label(for="email") Địa chỉ email*
      input(type="text" id="email") 
    .form__input 
      label(for="password") Password* 
      input(type="text" id="password")
    a(href="#") Quên mật khẩu?
    span Đăng nhập 
