section.cart.container
  h1 Giỏ hàng 
  table(style="width:100%")
    tr
      for i in list3
        th=i
    + customTable
    + customTable
  .action 
    a(href="#") Tiếp tục mua hàng 
    a(href="#") Xóa
    a(href="#") Cập nhật