section.contact.container
  .contact__icon 
    i.fab.fa-facebook-f 
      p facebook
    i.fab.fa-twitter 
      p twitter
    i.fab.fa-instagram 
      p instagram
    i.fab.fa-google-plus-g 
      p google +
    i.fab.fa-pinterest 
      p pinterest
    i.fab.fa-linkedin-in 
      p linkedin
  .contact__description
    .introduction
      .introduction__title Về chúng tôi 
      .introduction__logo
      h2 Giới thiệu chung về sản phẩm HANDMADE MANDALA 
      p Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái blog này vào một ngày đầu hề nóng oi bức, khi mà dân tình xô nhau đi tắm free để giải nhiệt. Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái blog này vào một ngày đầu hề nóng oi bức, khi mà dân tình xô nhau đi tắm free để giải nhiệt.Sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái blog này vào ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm free để giải nhiệt.
      span Xem thêm
    .blog 
      .blog__title Blog 
      .blog__image 
      h2 review son kem bourjois velvet
      p Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái blog này vào một ngày đầu hề nóng oi bức, khi mà dân tình xô nhau đi tắm free để giải nhiệt. 
      i Bởi NamTran (27/05/2015)
      span Đọc thêm >
      span 23 Bình luận
    .email
      .col
        .email__title Gửi email cho chúng tôi 
        form
          input(type="text" placeholder="Email của bạn")
          p Gửi email để nhận những ưu đãi mới nhất
          span.email__btn Gửi 
      .tag 
        .tag__title Tag sản phẩm 
        for i in tag
          span=i
