section.content.container
  .row
    .col
      .product
        .product__image
        .product__name
          .product__name__arrow
      .product
        .product__name
          .product__name__arrow
        .product__image
    + customImage
  .row
    + customImage
    .col
      .product
        .product__name
          .product__name__arrow
        .product__image
      .product
        .product__image
        .product__name
          .product__name__arrow
  .comment
    .comment__image
    .comment__text
      .comment__text__content 
        i " 
        p Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ dạo nhưng lại tạo sứ hút kỳ lạ với những ai cầm trên tay sản phẩm ấy! Với công nghệ cải tiến mới nhất, hãng Rohto
        i "   
      .comment__text__title TUTILE
        span _ Giám đốc phát triển sản phẩm
      .comment__text__icon
        span
        span
        span
    