section.thread.container
  .sidebar
    .sidebar__top
    .sidebar__image
    .sidebar__image
    .sidebar__image
    .sidebar__image
    .sidebar__bottom
  .image
  .product
    h1 Lắc tay tyffany xu hướng mới nhất
    p tyffany ms 3201
    h2 955.000đ
    h4 999.000đ
    p.product__description Không thể phủ nhận, thời trang và phong cách chính là "tuyên ngôn" không lời mạnh mẽ nhất của mỗi người phụ nữ. Do đó, việc mua sắm thời trang trở thành niềm vui, và có khi là niềm cảm hứng vô tận để phái đẹp sống vui, sống đẹp hơn trong mắt nửa còn lại của thế giới. Để F5 tủ đồ của mình trước những xu hướng ngày một đa dạng hơn trong thế giới thời trang, nhiều chị em không ngần ngại chi tiêu "mạnh tay" đe sở hữu những món đò yêu thích.
    form
      label(for="color") MÀU SẮC
      select(id="color")
        option(selected) Màu bạc
        option Màu vàng
        option Màu đỏ
        option Màu xanh
      label(for="size") SIZE
      select(id="size")
        option(selected) 12
        option 13
        option 14
        option 15
      h3 SỐ LƯỢNG 
      .product__action
          span MUA HÀNG
          i.fas.fa-heart
          i.fas.fa-sync-alt 
    .product__footer
      p Shipping & 
        b Return
      .product__footer__icon