@import "../mixins";

.contact {
  &__icon {
    @include customFont(14px, "openSansBold");
    margin: {
      top: 45px;
      bottom: 65px;
    }
    i {
      position: relative;
      width: 16.66666667%;
      text-align: center;
      opacity: 0.5;
      p {
        @include customFont(14px, "openSansBold");
        text-transform: uppercase;
        display: inline-block;
      }
    }
    i:hover {
      opacity: 1;
    }
    i::before {
      display: inline-block;
      padding: 8px;
      border: 2px solid #050505;
      border-radius: 50%;
      margin-right: 5px;
      width: 15px;
      height: 15px;
    }
  } 
  &__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    .introduction {
      @include customContactTitle();
      &__logo {
        @include customBackground("../../images/logo.png", 180px, 55px);
        margin-bottom: 43px;
      }
      h2 {
        @include customFont(12px, "openSansSemiBold");
        color: #050505;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      p {
        @include customFont(12px, "openSans");
        margin-bottom: 20px;
      }
      span {
        cursor: pointer;
        @include customFont(12px, "openSansSemiBold");
      }
    }
    .blog {
      @include customContactTitle();
      &__image {
        @include customBackground("../../images/image7.png", 100%, 188px);
        background-position: center;
        // opacity: 0.5;
        margin-bottom: 16px;
        position: relative;
      }
      &__image::after { // loi chua fix chua lam duoc
        content: "";
        @include customPosition(absolute, 3%, 2%, 2, 96%, 86%, true);
        // background-color: red;
      }
      h2 {
        @include customFont(12px, "openSansSemiBold");
        color: #050505;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      p {
        @include customFont(12px, "openSans");
        margin-bottom: 20px;
      }
      i {
        @include customFont(12px, "openSansItalic");
        display: block;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        padding: 13px 0 17px 0;
        color: #d4d4d4;
      }
      span {
        @include customFont(12px, "openSans");
        display: inline-block;
        color: #d4d4d4;
        cursor: pointer;
        margin-top: 10px;
      }
      span:nth-child(7) {
        float: right;
      }
    }
    .email {
      @include customContactTitle();
      width: 32%;
      flex-direction: column;
      .col {
        width: 100%;
        input {
          @include customFont(12px, "openSansBold");
          width: 96%;
          margin-left: 1px;
          padding: 13px 20px;
        }
        p {
          @include customFont(12px, "openSans");
          margin: 12px 0;
          text-align: center;
        }
        .email__btn {
          @include customPosition(relative, 0, 50%, 2, 24px, auto, true);
          display: inline-block;
          background: #1b1b1b;
          color: $colorWhite;
          padding: 10px 27px;
          text-align: center;
          margin: {
            bottom: 30px;
            left: -25.5px;
          }
        }
      }
      .tag {
        @include customContactTitle();
        width: 100%;
        @include customTag($colorGreen);
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  
  @include responsiveContact($numberThree);
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px) {  
  @include responsiveContact($numberFive);
}

// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px) {  
  @include responsiveContact($numberThree);
}

// Large devices (desktops, less than 1200px)
@media (min-width: 992px) and (max-width: 1199.98px) {  
  @include responsiveContact($numberFive);
  .contact {
    &__description {
      flex-wrap: wrap;
      flex-direction: row;
      .introduction, .blog {
        width: 48%;
        margin-bottom: 50px;
      }
      .email {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        .col, .tag {
          width: 48%;
          overflow: hidden;
        }
      }
    } 
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  @include responsiveContact($numberFive);
  .contact {
    &__description {
      flex-wrap: wrap;
      flex-direction: row;
      .introduction, .blog {
        width: 48%;
        margin-bottom: 50px;
      }
      .email {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        .col, .tag {
          width: 48%;
          overflow: hidden;
        }
      }
    } 
  }
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width