@import "../mixins";

section.listProduct {
  @include customBackground("../../images/image8.jpg", 100%, 806px);
  overflow: hidden;
  position: relative;
  border: {
    top: 1px solid $colorGray;
    bottom: 1px solid $colorGray;
  }
  .sale {
    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;
      margin-top: 90px;
      li {
        @include customFont(18px, "androgyne");
        color: #c1c1c1;
        padding: 0 20px;
        border-right: 1px solid;
      }
      li:nth-child(3) {
        border: {
          right: none;
          left: 1px solid;
        }
      }
      .active {
        @include customFont(34px, "androgyne");
        color: $colorGreen;
        border: none;
        position: relative;
      }
      .active::after {
        @include customBackground("../../images/icon1.png", 295px, 8px);
        @include customPosition(absolute, 60px, 50%, 2, 295px, 8px, false);
        content: "";
        margin-left: -147.5px;
      }
    }
  }
  .list {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
      li {
        @include customFont(14px, "openSans");
        margin: 0 14px;
        color: #818181;
      }
      li:nth-child(1) {
        list-style: none;
      }
      .active {
        color: $colorGreen;
      }
    }
  }
  #slide {
    display: flex;
    width: 300%;
    animation: 30s slidy infinite;
    .products {
      width: 100%;
      margin-top: 60px;
      display: flex;
      justify-content: space-around;
      @for $i from 1 to 7 {
        $item: nth($listProduct, $n: $i);
        .product:nth-child(#{$i}) {
          .product__image {
            @include customBackground($item, 100%, 270px);
            background-position: center;
            border-bottom: 1px dashed $colorGray;
          }
        }
      }
      .product {
        width: 15%;
        position: relative;
        &__detail {
          width: 100%;
          background: $colorWhite;
          text-align: center;
          padding-top: 25px;
          line-height: 1.5;
          h2 {
            @include customFont(14px, "openSansBold");
            color: #b4b4b4;
          }
          h3 {
            @include customFont(16px, "openSans");
            color: #424242;
            position: relative;
            margin-bottom: 30px;
          }
          h3::after {
            content: "";
            @include customPosition(absolute, 35px,50%, 2, 38px, 2px, true);
            background: #818181;
            margin-left: -17px;
          }
          i {
            @include customFont(16px, "lobster");
            color: $colorGreen;
          }
          i:nth-child(4) {
            color: #b4b4b4;
            display: none;
            transition: 0.5s;
          }
        }
        &__image {
          background-position: center;
          border-bottom: 1px dashed $colorGray;
        }
        &__action {
          width: 100%;
          background: $colorWhite;
          padding-top: 27px;
          text-align: center;
          opacity: 0;
          transition: 0.5s;
          span {
            @include customFont(14px, "openSansBold");
            padding: 10px;
            border: 1px solid #b4b4b4;
            border-radius: 10px;
            transition: 0.5s;
          }
          span:hover {
            background: #1a1a1a;
            color: $colorWhite;
            transition: 0.5s;
          }
          i {
            font-size: 14px;
            padding: 12px;
            border: 1px solid #b4b4b4;
            border-radius: 10px;
            transition: 0.5s;
            margin-left: 10px;
          }
          i:hover {
            background: #1a1a1a;
            color: $colorWhite;
            transition: 0.5s;
          }
        }
      }
      .product:hover .product__action {
        opacity: 1;
        transition: 0.5s;
      }
      .product:hover .product__detail i:nth-child(4) {
        display: inline;
        transition: 0.5s;
      }
      .product:nth-child(1)::after {
        @include customPosition(absolute, 0,0, 2, 100%, 100%, true);
        background: rgba(255, 255, 255, 0.5);
        content: "";
      }
      .product:nth-child(6)::after {
        @include customPosition(absolute, 0,0, 2, 100%, 100%, true);
        background: rgba(255, 255, 255, 0.5);
        content: "";
      }
    }
  }
  @keyframes slidy {
    0% {
      transform: translateX(   0%)
    }
    30% {
      transform: translateX(   0%)
    }
    33% {
      transform: translateX(   -33.3333%)
    }
    63% {
      transform: translateX(   -33.3333%)
    }
    66% {
      transform: translateX(   -66.6666%)
    }
    100% {
      transform: translateX(   -66.6666%)
    }
  }
  .icon {
    display: flex;
    &__right {
      @include customBackground("../../images/icon3.png", 45px, 30px);
      @include customPosition(absolute, 455px, 15%, 2, 0, 0, false);
    }
    &__left {
      @include customBackground("../../images/icon3.png", 45px, 30px);
      @include customPosition(absolute, 455px, auto, 2, 0, 0, false);
      right: 15%;
      transform: rotate(180deg);
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  @include responsiveListProducts;
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px) {  
  @include responsiveListProducts;
  section.listProduct {
    .sale {
      ul {
        .active::after {
          margin-left: -149.5px;
        }
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px) {  
  section.listProduct {
    #slide {
      .products {
        padding-top: 60px;
        width: 60%;
        margin: auto;
        @for $i from 1 to 7 {
          .product:nth-child(#{$i}) {
            display: none;
          }
        }
        .product:nth-child(2) {
          display: block;
          width: 50%;
        }
        .product:nth-child(3) {
          display: block;
          width: 50%;
        }
      }
    }
    .icon {
      display: none;
    }
  };
}

// Large devices (desktops, less than 1200px)
@media (min-width: 992px) and (max-width: 1199.98px) {  
  section.listProduct {
    #slide {
      .products {
        padding-top: 60px;
        width: 60%;
        margin: auto;
        @for $i from 1 to 7 {
          .product:nth-child(#{$i}) {
            display: none;
          }
        }
        .product:nth-child(2) {
          display: block;
          width: 40%;
        }
        .product:nth-child(3) {
          display: block;
          width: 40%;
        }
      }
    }
    .icon {
      display: none;
    }
  };
}

@media (min-width: 1200px) and (max-width: 1366px) {
  section.listProduct {
    #slide {
      .products {
        padding-top: 60px;
        width: 60%;
        margin: auto;
        @for $i from 1 to 7 {
          .product:nth-child(#{$i}) {
            display: none;
          }
        }
        .product:nth-child(2) {
          display: block;
          width: 30%;
        }
        .product:nth-child(3) {
          display: block;
          width: 30%;
        }
      }
    }
    .icon {
      display: none;
    }
  }
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width