section.blog.container
  h1 Blog
  .content
    .header
      .type
        a(href="#")
          i.fas.fa-th-large
        a(href="#")
          i.fas.fa-list-ul
      .list
        i.fas.fa-caret-left
        span 1
        span 2
        span 3
        i.fas.fa-caret-right
    .main 
      .listBlog
        + customBlog 
        + customBlog 
        + customBlog 
      .listBlog
        + customBlog 
        + customBlog 
        + customBlog 
      .listBlog
        + customBlog 
        + customBlog 
        + customBlog  
    .footer
      .type
        a(href="#")
          i.fas.fa-th-large
        a(href="#")
          i.fas.fa-list-ul
      .list
        i.fas.fa-caret-left
        span 1
        span 2
        span 3
        i.fas.fa-caret-right
