section.account.container
  .table
    h1 Tài khoản 
    table(style="width:100%")
      tr
        for i in list4
          th=i
      + customTableOne
      + customTableOne 
      + customTableOne
      + customTableOne
  .detailAccount
    h2 Chi tiết tài khoản 
    i.fas.fa-user
      p GiangLe 
      p Leanhgiang89@gmail.com 
    i.fas.fa-map-marker-alt
      p Tòa nhà Hà Nội group 442 Đội Cấn,
      p Ba Đình Hà Nội 
    i.fas.fa-phone-alt 
      p (04) 3786 8904
