- const nav = [{"content":"trang chủ","href":"../index.html"}, {"content":"giới thiệu", "href":"../notFound/notFound.html"}, {"content":"sản phẩm"}, {"content":"tin tức", "href":"../blog/blog.html"}, {"content":"bản đồ", "href":"../contactUs/contactUs.html"}, {"content":"liên hệ", "href":"../newsletterPopup/newsletterPopup.html"}]
- const listTitle = [{"href":"./products/lotion.html","title":"Dưỡng Da"}, {"href":"./products/perfume.html","title":"Nước Hoa"}, {"href":"./products/jewelry.html","title":"Trang Sức"}]
- const dropdown = [["Áo khoác", "Áo cánh / Áo sơ mi", "Áo cánh / Áo sơ mi"],["Bộ áo liền quần", "Túi sách & Balô", "Túi sách & Balô"],["Dresses", "Khăn quàng cổ & Foulards", "Khăn quàng cổ & Foulards"],["Quần / Váy", "Dệt kim Hats & Gloves", "Dệt kim Hats & Gloves"],["Quần short", "Vớ & Socks", "Vớ & Socks"],["Quần jean", "Jewerly", "Jewerly"],["Đồ đan", "Bi bảo vệ", "Bi bảo vệ"],["Áo nỉ", "Giày", "Giày"]]
- const cart = {"title": "Áo sơ mi nam", "money": "120.000"}
- const sale = ["Miễn phí vẫn chuyển", "Nhận ngay quà tặng trị giá 350.000đ", "Giảm 30% cho đơn hàng trên 5.000.000đ"]
- const products = [{"title": "TYFFANY", "content": "Mỹ phẩm châu âu", "price": "350.000","sale": "450.000"}, {"title": "OHUI", "content": "Mỹ phẩm châu âu", "price": "350.000","sale": "450.000"},{"title": "HOME", "content": "Mỹ phẩm châu âu", "price": "350.000","sale": "450.000"},{"title": "DEBORA", "content": "Mỹ phẩm châu âu", "price": "350.000","sale": "450.000"},{"title": "SARVON", "content": "Mỹ phẩm châu âu", "price": "350.000","sale": "450.000"},{"title": "TYFFANY", "content": "Mỹ phẩm châu âu", "price": "350.000","sale": "450.000"}]
- const tag = ["Đồng hồ","Túi", "Phụ kiện", "Đồng hồ","Túi", "Giày", "Sandal", "Áo sơ mi", "Nước hoa", "Giày", "Sandal", "Trẻ em", "Thời trang nữ", "Trẻ em", "Thời trang nữ"]
- const listFooter = ["Chuyển hàng", "Hỗ trợ", "Thông tin", "My account"]
- const dropdownFooter = [["Mua sắm trực tuyến", "Câu chuyện của chúng ta", "Về chúng tôi", "Xem giỏ hàng"], ["Đến từ chúng tôi gửi đến", "Thanh toán an toàn", "Điều khoản & Điều kiện", "Sản phẩm yêu thích"],["Chính sách vẫn chuyển", "Tùy chọn vận chuyện", "Chính sách riêng tư", "Kiểm tra"],["Vận chuyển thông tin", "Chính sách vận chuyển", "Đơn đặt hàng và Returns","Theo dõi đạt hàng của tôi"]]
- const dropdownFooter1 = ["Mua sắm trực tuyến", "Đến từ chúng tôi gửi đến", "Chính sách vẫn chuyển", "Vận chuyển thông tin"]
- const dropdownFooter2 = ["Câu chuyện của chúng ta", "Thanh toán an toàn", "Tùy chọn vận chuyện", "Chính sách vận chuyển"]
- const dropdownFooter3 = ["Về chúng tôi", "Điều khoản & Điều kiện", "Chính sách riêng tư", "Đơn đặt hàng và Returns"]
- const dropdownFooter4 = ["Xem giỏ hàng", "Sản phẩm yêu thích", "Kiểm tra", "Theo dõi đạt hàng của tôi"]
- const dropdownFooter5 = ["Sản phẩm yêu thích", "Tài khoản", "Đăng ký", "Đăng nhập"]
- const listProducts = ["Vòng tay", "Nhẫn", "Lắc tay", "Phụ kiện khác", "Giày lười Giày Mọi"]
- const list1 = ["Trang sức", "Nước hoa", "Dưỡng da"]
- const tag1 = ["Hoa tai", "Son", "Nước hoa", "Giày", "Sandal", "Áo sơ mi", "Nước hoa", "Trẻ em", "Thời trang nữ"]
- const list2 = ["Đặc điểm nổi bật", "Thông tin sản phẩm", "Đáng giá"]
- const list3 = ["Ảnh", "Tên sản phẩm", "Giá", "Số lượng", "Tổng số", "Xóa"]
- const list4 = ["Order", "Date", "Tình trạng thanh toán", "Tổng", "Nợ"]
- const tag2 = ["Đồng hồ", "Túi", "Phụ kiện", "Giày", "Sandal", "Áo sơ mi", "Nước hoa", "Trẻ em", "Thời trang nữ"]
