@import "../mixins";

section.blog {
  margin: 30px auto 85px auto;
  h1 {
    @include customFont(28px, "openSans");
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 30px;
  }
  .content {
    .header,.footer {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      padding: 11px 0;
      border-bottom: 1px solid $colorGray;
      .type {
        a {
          color: #212121;
          i {
            margin-right: 10px;
          }
        }
      }
      .list {
        span {
          margin: 0 10px;
          cursor: pointer;
        }
        span:hover {
          color: $colorGreen;
        }
      }
    }
    .main {
      .listBlog {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        .blog {
          width: 32%;
          &__image {
            @include customBackground("../../images/image10.png", 100%, 190px);
            background-position: center;
          }
          h2 {
            @include customFont(18px, "openSans");
            padding: 5px 0 10px 0;
            color: #202020;
            text-transform: uppercase;
            border-bottom: 1px solid $colorGray;
          }
          p {
            @include customFont(14px, "openSans");
            color: #6d6d6d;
            padding: 10px 0 15px 0;
            width: 100%;
          }
          i {
            @include customFont(14px, "openSans");
            color: #b4b4b4;
            border-bottom: 1px solid $colorGray;
            padding-bottom: 15px;
            display: block;
          }
          &__footer {
            display: flex;
            justify-content: space-between;
            span {
              @include customFont(14px, "openSans");
              color: #b4b4b4;
              padding-top: 10px;
              cursor: pointer;
            }
          }
        }
        .blog:nth-child(2) {
          .blog__image {
            @include customBackground("../../images/image11.png", 100%, 190px);
            background-position: center;
          }
        }
        .blog:nth-child(3) {
          .blog__image {
            @include customBackground("../../images/image12.png", 100%, 190px);
            background-position: center;
          }
        }
      }
      .listBlog:nth-child(2) {
        .blog:nth-child(1) {
          .blog__image {
            @include customBackground("../../images/image13.png", 100%, 190px);
            background-position: center;
          }
        }
        .blog:nth-child(2) {
          .blog__image {
            @include customBackground("../../images/image14.png", 100%, 190px);
            background-position: center;
          }
        }
        .blog:nth-child(3) {
          .blog__image {
            @include customBackground("../../images/image15.png", 100%, 190px);
            background-position: center;
          }
        }
      }
      .listBlog:nth-child(3) {
        .blog:nth-child(1) {
          .blog__image {
            @include customBackground("../../images/image16.png", 100%, 190px);
            background-position: center;
          }
        }
        .blog:nth-child(2) {
          .blog__image {
            @include customBackground("../../images/image17.png", 100%, 190px);
            background-position: center;
          }
        }
        .blog:nth-child(3) {
          .blog__image {
            @include customBackground("../../images/image18.png", 100%, 190px);
            background-position: center;
          }
        }
      }
    }
  }
}